In [1]:
s = 'two times three is not four'

In [2]:
s[1]

'w'

In [3]:
s.split()

['two', 'times', 'three', 'is', 'not', 'four']

In [4]:
ss  = 'two times two is four'

In [6]:
print(s[0] == ss[0])

False

In [7]:
m = len(s)
n = len(ss)
i=0
j=0

In [ ]:

i = 0
j = 0

while j<m:

    if s[j] == ss[i]:
        i += 1

    j += 1

    if (n-j) > (m-i):
        return 'No'
        
return 'Yes'

In [16]:
def checkMagazine(magazine, note):

    
    m = len(magazine)
    n = len(note)
    i,j = 0, 0

    while (j<m) and (i<n):
        
        if magazine[j] == note[i]:
            i += 1

        j += 1

        if (n-i) > (m-j):
            return 'No'
            
    return 'Yes'

In [ ]:
give me one grand today night
give one grand today

In [18]:
magazine = input().rstrip().split()

two times three is not four

In [19]:
note = input().rstrip().split()

two times two is four

In [20]:
checkMagazine(magazine, note)

'No'

In [ ]:
def checkMagazine(magazine, note):
   
    m = len(magazine)

    for c in note:
        j = 0       
        while (j<m):        
            if magazine[j] == c:
                magazine[j] = ' '
                break
            
            j += 1

        if j == m:
            print('No')
            return

    print('Yes')
    return

In [ ]:
apgo clm w lxkvg mwz elo bg elo lxkvg elo apgo apgo w elo bg

In [ ]:
elo lxkvg bg mwz clm w

In [21]:
import glob


df_comp = pd.DataFrame([{ 'Company name' : comp_name,
                     'Description 1' : des1,
                     'Description 2' : des2,
                     'Description 3' : des3}])

for file in file_list:
    company_name = file[39:-4]

    des1 = []
    des2 = []
    des3 = []
    
    try:    

        with open(file,'r') as f:
            desc = f.read()

        id2 = desc.find('\n2.')
        id3 = desc.find('\n3.')

        if id2 > 0: 
            des1 = desc[:id2]

            if id3 > 0:
                des2 = desc[id2+1:id3]
                des3 = desc[id3+1:]
            else: 
                des2 = desc[id2+1:]
        else:
            des1 = desc        

    except:
        print('can not open file')
        
        
    df_comp = df_comp.append([{ 'Company name' : comp_name,
                     'Description 1' : des1,
                     'Description 2' : des2,
                     'Description 3' : des3}])

In [76]:
file = '/home/dvh/Desktop/Tuannm40/example/100/Afrique+Airlines.txt'
    
comp_name = file_list[2][39:-4]
des1 = []
des2 = []
des3 = []

    
try:    
           
    with open(file,'r') as f:
        desc = f.read()
   
    id2 = desc.find('\n2.')
    id3 = desc.find('\n3.')

    if id2 > 0: 
        des1 = desc[:id2]
        
        if id3 > 0:
            des2 = desc[id2+1:id3]
            des3 = desc[id3+1:]
        else: 
            des2 = desc[id2+1:]
    else:
        des1 = desc        
    
except:
    print('can not open file')

In [84]:
des3

'3. Air Afrique came into being in 1961 (1961) as a joint venture between Air France, \nUnion ... Initially, the company inaugurated its services flying routes within those \n... :45 Following is a list of destinations the airline served all through its history.\n'

In [81]:
import pandas as pd

In [92]:
df_comp = pd.DataFrame([{ 'Company name' : comp_name,
                     'Description 1' : des1,
                     'Description 2' : des2,
                     'Description 3' : des3}])
df_comp = df_comp.append([{ 'Company name' : comp_name,
                     'Description 1' : des1,
                     'Description 2' : des2,
                     'Description 3' : des3}])

In [93]:
df_comp

,Company name,Description 1,Description 2,Description 3
0,IANSA+(company),1. Afrique Airlines was an airline based in Co...,"2. Air Afrique was a Pan-African airline, that...",3. Air Afrique came into being in 1961 (1961) ...
0,IANSA+(company),1. Afrique Airlines was an airline based in Co...,"2. Air Afrique was a Pan-African airline, that...",3. Air Afrique came into being in 1961 (1961) ...